
     body {  
	 background-color: #721bc4 ;
	 font-family: 'Pacifico'; 
	 }
     h1{ 
	 background-color: #a666e3 ;
	 text-shadow:5px 5px 5px  #dfd2ec ; 
	 text-align:center;
	 }
     .myCanvas{ 
	 animation: mymove 5s infinite;
	 border: 5px solid   #0a3cda  ; 
	 border-style:solid;}
     @keyframes mymove {
    50% (box-shadow: 10px 20px 30px blue;) 
	}
